@using System.Text
@inject IGameService GameService
@implements IDisposable

@if (GameService.GameState.Word == null || GameService.GameState.WordHint == null)
{
    <div><span class="preformatted">@WordString</span> @LetterCount</div>
}
else
{
    <div>
        @for (int i = 0; i < GameService.GameState.Word.Word.Length; i++)
        {
            <span class="preformatted @(Char.IsLetter(GameService.GameState.WordHint[i]) ? "known-letter" : "")">@(GameService.GameState.Word.Word[i])&nbsp;</span>
        }
        <span> @LetterCount</span>
        <WordDifficultyDisplay Difficulty="GameService.GameState.Word.Difficulty" />
    </div>
}

@code {

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        GameService.GameState.ActivePlayerDrawStarted += ActivePlayerDrawStarted;
        GameService.GameState.PlayerDrawStarted += PlayerDrawStarted;
        GameService.GameState.HintLetterReceived += HintLetterReceived;
        GameService.GameState.CorrectWordReceived += CorrectWordReceived;
        GameService.GameState.TurnScores += TurnScores;
    }

    public void Dispose()
    {
        GameService.GameState.ActivePlayerDrawStarted -= ActivePlayerDrawStarted;
        GameService.GameState.PlayerDrawStarted -= PlayerDrawStarted;
        GameService.GameState.HintLetterReceived -= HintLetterReceived;
        GameService.GameState.CorrectWordReceived -= CorrectWordReceived;
        GameService.GameState.TurnScores -= TurnScores;
    }

    private void ActivePlayerDrawStarted(object sender, EventArgs _)
    {
        StateHasChanged();
    }

    private void PlayerDrawStarted(object sender, PlayerDrawEventArgs e)
    {
        StateHasChanged();
    }

    private void HintLetterReceived(object sender, EventArgs _)
    {
        StateHasChanged();
    }

    private void CorrectWordReceived(object sender, EventArgs _)
    {
        StateHasChanged();
    }

    private void TurnScores(object sender, (List<PlayerScore> scores, WordDTO word, int timeout) args)
    {
        StateHasChanged();
    }

    private string WordString
    {
        get
        {
            if (GameService.GameState.Word != null)
            {
                return GameService.GameState.Word.Word;
            }
            else if (GameService.GameState.WordHint != null)
            {
                string result = "";
                foreach (char c in GameService.GameState.WordHint)
                {
                    if (c == ' ')
                    {
                        result += "   ";
                    }
                    else
                    {
                        result += c + " ";
                    }
                }
                return result;
            }
            return "";
        }
    }

    private string LetterCount
    {
        get
        {
            string w = null;
            if (GameService.GameState.WordHint != null)
            {
                w = GameService.GameState.WordHint;
            }
            else if (GameService.GameState.Word != null)
            {
                w = GameService.GameState.Word.Word;
            }

            if (w == null)
            {
                return "";
            }

            string result = "(";
            int i = 0;
            foreach (char c in w)
            {
                if (c == ' ')
                {
                    result += i + "+";
                    i = 0;
                }
                else
                {
                    i++;
                }
            }
            result += i + ")";
            return result;
        }
    }
}
